@import url("<link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Poppins:ital,wght@0,300;0,600;1,400&family=Roboto:ital,wght@0,900;1,400;1,900&display=swap" rel="stylesheet">");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Arvo', serif;
}

.grid-container > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
}

.header-2 {
     grid-area: header;
}

.navbar2 {
    grid-area: navbar;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

.footer {
    grid-area: footer;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template:
    "header"    140px
    "navbar"    calc(100vh - 140px)
    "main"      350px
    "sidebar"   660px
    "footer"    500px;
}

/* ********************************************************************** */ 
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    font-size: 25;
    width: 100%;
    position: fixed!important;
    top: 0;
    left: 0;
    background-color: rgb(202, 221, 243);
}

.logo {
    cursor: pointer;
    margin-right: auto;
    height: 120px;
    width: 120px;
    margin-left: 40px;
}
.change {
    display: none;
}

.botones {
    style: none;
}

.botones li {
    display: inline-block;
    padding: 0px 20px;
}

.botones li a {
    transition: all 0.3s ease 0s;
    color:black
}

.botones li a:hover {
    color: rgb(244, 238, 232);
}

.boton-contac {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(244, 238, 232);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 15;
}

.boton-contac:hover {
    background-color: rgb(244, 238, 220);
}

.icon-menu {
    font-size: 50;
    display: none!important;
}

@media (max-width: 700px) {
    ul {
        display: none;
    }
    li {
        width: 100%;
        text-align: end;
    }
    .boton-contac {
        display: none;
    }
    .icon-menu {
        display: inline-block!important;
    }
    .change:checked ~ ul {
        display: inline-block!important;
        font-size: 20;
    }     

}

/* ********************************************************************** */ 
.navbar2 {
    background-image: url(./arbisoftimages-2925381-2-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dream-section-text h1 {
    font-size: 80px;
    text-align: center;
    font-weight: 300;
    line-height: 1;
}
.dream-section-text h1 span {
    display: block;
    font-weight: 700;
}
    

/* ********************************************************************** */ 

.main {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    background-color: rgb(244, 238, 220) ;
}

.main h2 {
    font-weight: 800;
}

.parrafo-lorem {
    font-size: 25;
}

.main h2 p {
    position: fixed!important;
    width: 100%;
    height: 100%; 
}

/* ********************************************************************** */ 


.card-container {
    display: flex!important;
    justify-content: space-around!important;
    align-items: center!important;
    margin-top: 200px;
}

@media (max-width: 700px) {
    .card-container {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    } 

}

.img-swim {
background-color: rgb(202, 221, 243);
border-radius: 15px;
box-shadow: 7px 5px 5px #7b7b7b85
}

.man-swim {
    font-size: 180;
    flex-wrap: wrap;
    margin-left: 50;
}

.img.suit {
    background-color: white;
    border-radius: 30px;
    box-shadow: 7px 5px 5px #7b7b7b85
}

.suit-case {
    font-size: 170;
    flex-wrap: wrap;
    margin-left: 50;
}

.img-ship {
    background-color: rgb(202, 221, 243);
    border-radius: 15px;
    box-shadow: 7px 5px 5px #7b7b7b85
}
.sea-ship {
    font-size: 170;
    flex-wrap: wrap;
    margin-left: 70px;
}

h3 {
    display: inline-block;
    margin-top: 100px;
    flex-wrap: wrap;
    font-size: 20;
}

/* ********************************************************************** */

.footer {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h4 {
    margin-left: 70px;
}

#floatingInput {
    width: 350px;
    border-radius: 20px;
}

#floatingPassword {
    width: 350px;
    border-radius: 20px;
}

.boton-send {
    width: 350px;
    height: 50px;
    padding-top: 20px;
    margin-top: 20px;
    border-radius: 20px!important;
    background-color: rgb(244, 238, 232)!important;
}

.img-pool {
    width: 430px;
    height: 400px;
}

@media (max-width: 700px) {
    .img-pool {
        display:none;
    }
}