@keyframes circulo {
    from {
            border-radius: 0px;
    }
    to {
        border-radius: 100%;
    }
    
}


.cuadrado {
    width: 400px;
    height: 400px;
    background-color: aquamarine;
    animation-name: circulo;
    animation-duration: 2s;
    animation-direction: alternate;
}

